@import '../vars';

.what-include {
    color: $black;
    background: $white;
    border-bottom: 1px solid $dark-yellow;

    background-image: url('/img/waves/what-include.svg');
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    
    text-align: center;


    .content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        

        .left-col {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            
            ul {
                display: flex;
                justify-content: space-between;
                position: relative;
                width: 100%;
                margin-bottom: 2rem;

                li {
                    width: calc(33.33%-0.666rem);
                    padding: 1rem;
                    border-radius: 0.5rem;
                    background: $white;
                    box-shadow: 0px 4px 16px 0px rgba(244,239,220,1);
                    // border: 1px solid rgba(0,0,0,0.1);

                    img {
                        display: inline-block;
                        height: 4rem;
                        margin-bottom: 2rem;
                    }

                    b { font-weight: 600;}
                }
            }
            
            .divided-button {
                    margin-bottom: 1rem;
            }
        } 
    }
}


@media screen and (max-width: 960px) {
    .what-include {
        .content {
            flex-wrap: wrap;

            .left-col { 
                width: 100%; 
                margin-bottom: 4rem;

                ul {
                    flex-wrap: wrap;
                    li {
                        width: 100%;
                        margin-bottom: 1rem;
                    }
                }
            }

            .right-col {
                width: 100%;
                // box-shadow: 8px 4px 24px 0px rgba(68,114,233,0.5);                   
            }
        }
    }
}