$white: #FFFFFF;
$light-green: #E9FCF3;
$green: #3FB38E;
$blue: #4ABDC9;
$yellow: #F7A72A;
$light-yellow: #FFF7EA;
$dark-yellow: #F4EFDC;
$violet: #825BCC;
$navy: #1E3446;
$black: #10212F;

$transparent: rgba(0, 0, 0, 0);
$content-width: 58.75rem;