<section class="contact-us section">
    <header>
        <h2>У Вас остались вопросы?<br>Свяжитесь с нами!</h2>
        <button class="open-popup button">Заказать звонок</button>
    </header>
</section>