<section class="contact-us section">
    <header>
        <h1>У Вас остались вопросы?<br>Свяжитесь с нами!</h1>
        <button class="open-popup button">Заказать звонок</button>
    </header>
</section>