<footer class="section">
		<div class="left_block">
			<p>
				Юридический адрес: Москва, улица Бутлерова, д.17 Б, эт.2, пом.11,
				ком. 61 <br />
				Адрес для корреспонденции: 109147, Москва, улица Марксистская, д.9,
				а/я 214
			</p>

			<p>
				ИНН 7728435360 <br />
				ОГРН 1187746658538
				<br />
				<a href="mailto:info@clickservice.com">info@clickservice.com</a>
			</p>

			<img src="img/parts/payment.png" width="150px" alt="" />

			<p>
				Оплата происходит через платежный шлюз ПАО «СБЕРБАНК». Соединение с
				платежным шлюзом и передача информации осуществляется в защищенном
				режиме с <br />
				использованием протокола шифрования SSL.
			</p>
		</div>

		<div class="right_block">
			<p class="footer-number">8 800 511 86 65</p>
			<p>Бесплатный звонок по России</p>
			<p>
				<a href="../docs/index.html">Правила и оферты</a><br />
				<a href="/sales/#/login/">Вход для партнеров</a>
			</p>
			<p style="margin-top: 57px;">
				ООО «Клик Сервис» использует файлы
				<a href="../docs/cookie.pdf">cookie</a> для персонализации сервисов
				и удобства пользователей. Вы можете запретить сохранение файлов
				cookie в настройках браузера.<br />
				Ознакомьтесь с
				<a href="../docs/personal_policy.pdf"
					>условиями и принципами их обработки</a
				>.
			</p>
		</div>

		<div class="clear"></div>
</footer>