<section class="our-team section">
	<header>
		<h2>Наша команда</h2>
		<p class="big-paragraph">Все члены нашей команды - это высококвалифицированные специалисты, любящие свое дело</p>
	</header>
	<div class="content">
        <div class="team-member">
            <img src="/img/team/1.jpg">
            <h4>Екатерина Корнилова</h4>
            <p>Руководитель отдела</p>
        </div>
        <div class="team-member">
            <img src="/img/team/2.jpg">
            <h4>Анастасия Новикова</h4>
            <p>Дизайнер</p>
        </div>
        <div class="team-member">
            <img src="/img/team/3.jpg">
            <h4>Лилия Тарлавина</h4>
            <p>Дизайнер</p>
        </div>
        <div class="team-member">
            <img src="/img/team/4.jpg">
            <h4>Оксана Синицына</h4>
            <p>Дизайнер</p>
        </div>
        <div class="team-member">
            <img src="/img/team/5.jpg">
            <h4>Полина Дементьева</h4>
            <p>Дизайнер</p>
        </div>
        <div class="team-member">
            <img src="/img/team/6.jpg">
            <h4>Панкратова Ирина</h4>
            <p>Дизайнер</p>
        </div>
        <div class="team-member">
            <img src="/img/team/7.jpg">
            <h4>Горшкова Элеонора</h4>
            <p>Дизайнер</p>
        </div>
        <div class="team-member">
            <img src="/img/team/8.jpg">
            <h4>Кузнецова Ольга</h4>
            <p>Дизайнер</p>
        </div>
</section>