<div class="popup">
    <form>
        <div class="cross">
            <img src="/img/icons/cross.svg">
        </div>
        <img src="/img/icons/request.svg">
        <h3>Подключить пакет</h3>
        <input name="phone" placeholder="*Ваш телефон" required>
        <input name="code" placeholder="Промокод">
        <button class="open-popup">Оформить подписку</button>
    </form>
</div>

<script>
$('.open-popup').click(function() {
    $('body').addClass('lock-site');
    $('.popup').addClass('show-popup');                                     
});

$('.cross').click(function() {
    $('body').removeClass('lock-site');
    $('.popup').removeClass('show-popup');                                      
});
</script>