<section class="questions section">
    <header>
        <h2>На какие вопросы поможет ответить Дизайнер Онлайн?</h2>
        <p class="big-paragraph">Несколько примеров вопросов, которые Вы можете задать</p>
    </header>
    <ul>
        <li>Какое напольное покрытие более экологичное?</li>
        <li>Порекомендуйте бюджетных производителей мебели?</li>
        <li>На какой высоте необходимо размещать розетки?</li>
        <li>Какой потолок лучше? Натяжной или из гипсокартона?</li>
        <li>Можно ли увеличить санузел за счет кухни?</li>
        <li>Мне нравится вот эта плитка - она дорогая, есть ли что-то похожее по более доступной цене?</li>
        <li>Что лучше? Обои или декоративная штукатурка?</li>
        <li>Что лучше сделать: кухню до потолка или опустить потолок до уровня кухни?</li>
        <li>Можно ли зашивать трубы отопления в короб?</li>
        <li>Чем отличается инженерная доска от паркетной доски?</li>
        <li>Чем декорировать стены в прихожей?</li>
        <li>Как рассчитать уровень стяжки в квартире?</li>
    </ul>
    <button id="scroll-request-call">Задать дизайнеру свой первый  вопрос бесплатно</button>
</section>

<script>
$(document).ready(function (){
    $("#scroll-request-call").click(function (){
        $('html, body').animate({
            scrollTop: $("#request-call").offset().top + (-40)
        }, 1000);
    });
});
</script>