<section id="request-call" class="request-call section">
    <div class="right-col">
        <form class="form" method="post">
            <legend>
                <ul>
                    <li>Сталкивались с недобросовестными дизайнерами и исполнителями, которые не готовы доказать свой профессиональный уровень?</li>
                    <li>Мы предоставим Вам первую консультацию с нашими дизайнерами абсолютно бесплатно!</li>
                    <li>Ответим на любой вопрос за 60 минут*</li>
                </ul>
            </legend>
            <fieldset>
                <input name="phone" placeholder="Телефон" required>
                <input name="name" placeholder="Имя" required>
                <input name="question" placeholder="Ваш вопрос" required>
                <button class="submit button">Получить консультацию</button>
                <span>*Ответы направляются с 10 до 19 по Москве в рабочие дни. Время ожидания ответа может быть увеличено.</span>
            </fieldset>
        </form> 
    </div>
    <div class="left-col">
        <div class="quote">
                <ul>
                    <li>Мы знаем все о технических особенностях ремонта, поможем собрать и выбрать красивые стилевые решения, а, самое главное, сократим количество возможных ошибок при самостоятельном ремонте и сделаем его существенно дешевле, не теряя при этом в качестве.</li>
                </ul>
                <div class="author">
                    <span>Екатерина Корнилова</span>
                    <p>Руководитель отдела дизайна<br>КЛИК СЕРВИС</p>
                </div>
        </div> 
        <ul class="photo-slider">
            <img src="/img/personas/1.png" class="active-photo-slide photo-slide">
        </ul>
    </div>
    <div class="wave">
        <img src="/img/waves/request-call.svg">
    </div>
</section>
