<section id="what-include" class="what-include section">
	<header>
		<h2>Что включено в пакет Дизайнер Онлайн?</h2>
		<p class="big-paragraph">Приобретая пакет Дизайнер Онлайн Вы получаете невероятные возможности</p>
	</header>
	<div class="content">
		{{!-- Left column --}}
		<div class="left-col">
			<ul>
				<li>
					<img src="/img/icons/1.svg">
					<p>30 дней безлимитных онлайн&#8209;консультаций с дизайнером через личный кабинет</p>
				</li>
				<li>
					<img src="/img/icons/2.svg">
					<p>Вы можете задать вопрос в Личном кабинете или по электронной почте</p>
				</li>
				<li>
					<img src="/img/icons/3.svg">
					<p><b>Подарим 2 Skype-консультации</b> с дизайнером длительностью до 60 минут при покупке пакета на 3 месяца</p>
				</li>
			</ul>
            <div>
			 <button class="open-popup divided-button">
				    <span>Подключить пакет</span><span>Стоимость 3 000 рублей в месяц</span>
			 </button>
		</div>
	</div>
</section>