<section id="what-include" class="what-include section">
	<header>
		<h2>Что включено в пакет Дизайнер Онлайн?</h2>
		<p class="big-paragraph">Приобретая пакет Дизайнер Онлайн Вы получаете невероятные возможности:</p>
	</header>
	<div class="content">
		{{!-- Left column --}}
		<div class="left-col">
			<ul>
				<li>
					<img src="/img/icons/1.svg">
					<p>30 дней безлимитных онлайн-консультаций с дизайнером</p>
				</li>
				<li>
					<img src="/img/icons/2.svg">
					<p>Вы можете задать вопрос в Личном кабинете или по электронной почте</p>
				</li>
				<li>
					<img src="/img/icons/3.svg">
					<p>Подарим выезд дизайнера для личной консультации при покупке пакета на 3&#160;месяца*</p>
				</li>
			</ul>
            <div>
			 <button class="open-popup divided-button">
				    <span>Получить консультацию</span><span>Стоимость 3 000 рублей в месяц</span>
			 </button>
			 <p class="medium-paragraph">*личная консультация длится не более 60 минут и доступна в пределах МКАД</p>
            </div>
		</div>
		{{!-- Right column --}}
		<div class="right-col">
			<div class="quote">
				<ul>
					<li>Мы знаем все о технических особенностях ремонта, поможем собрать и выбрать красивые стилевые решения, а, самое главное, сократим количество возможных ошибок при самостоятельном ремонте и сделаем его существенно дешевле, не теряя при этом в качестве.</li>
				</ul>
				<div class="author">
					<img src="/img/ekaterina.png">
					<div>
						<span>Екатерина Корнилова</span>
						<p>Руководитель отдела дизайна<br>Клик Сервис</p>
					</div>
			</div>      
		</div>  
	</div>
</section>